.sekcija{
    min-height: 200px;
    display: flex;
    margin:0 30px 5px 30px;
    border-radius: 5px;
    padding: 15px;
    justify-content: space-around;
    flex: 1 0 40%;
}

.sekcija_slike{
    display: flex;
    height: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sekcijaSl{
    min-height: 200px;
    margin:0 30px 5px 30px;
    border-radius: 5px;
    padding: 15px;
}


.slika{
    width: fit-content;
    margin: 0 5px;
    height: 50px;
}